/* Typography */

@import url("https://use.typekit.net/wez5tme.css");

/* Main Content */
.Home {
    height: 100vh;
    width: 100%;

}

Canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.page {
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    height: 11rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.01);
    z-index: 3000;
    position: absolute;
}


#name {
    z-index: 1000;
    color: #0066ff;
    font-size: 1.9rem;
    margin-bottom: 0;
    margin-top: 2.5rem;
    font-family: aviano-future, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .2rem;
    text-align: center;
}

#title {
    margin-top: 1.2rem;
    color: white;
    font-family: neuropol-x-light, sans-serif;
    text-shadow: none;
    text-align: center;
    font-weight: 100;
    font-size: 1.8rem;
    opacity: 1;
    letter-spacing: 1.0rem;
}


/* Social Links */

.container {
    width: 100vw;
}

.socialContainer {
    position: absolute;
    top: calc(90% - 3rem);
    left: calc(90% - 3rem);
    z-index: 2010;
}

.icon {
    z-index: 2008;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2010;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.icon img {
    width: 4.5rem;
    height: 4.5rem;
}

.invis-icon img {
    opacity: 0;
}

.social {
    z-index: 2020;

}

#plus {
    opacity: 1;
}


/* Nav Bar */

nav {
    z-index: 3000;
    position: relative;
    width: 100%;
    left: 5%;
    top: 10%;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
}

.navContainer {
    display: flex;
    list-style: none
}

li {
    padding-left: 3rem;
    opacity: .95;
}





/* Media Queries */

@media screen and (max-width: 1410px) {
    nav {
        left: 3%;
    }
}

@media screen and (max-width: 1180px) {
    nav {
        font-size: 2.5rem;
        left: 2%;
        top: 5%
    }

    .socialContainer {
        height: 100%;
        width: 100%;
        position: fixed;
        top: calc(100% - 9rem);
        width: 100%;
    }

    .icon img {
        width: 4rem;
        height: 4rem;
    }
}

@media screen and (orientation: portrait) and (max-width: 490px) {
    #title {
        font-size: 1.3rem;
        letter-spacing: 0.7rem;
    }

    #name {
        font-size: 1.6rem;
        margin-top: 2rem;
    }

    header {
        margin-top: 6rem;
        height: 8rem;
        background-color: rgba(255, 255, 255, 0.0);
    }

    .socialContainer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        top: calc(100% - 9rem);
    }
}


@media screen and (orientation:landscape) and (min-device-width: 320px) and (max-device-width: 900px) {

    .socialContainer {
        transform: rotate(90deg);
        transform-origin: left top;
        left: calc(100% - 3rem);
    }

    .socialContainer img {
        transform: rotate(-90deg);
    }

    header {
        height: 9rem;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.01);
        z-index: 3000;
        position: fixed;
        top: 0;
    }
}