@import url(https://fonts.googleapis.com/css?family=Russo+One:regular);

@import url(https://fonts.googleapis.com/css?family=Montserrat+Subrayada:regular,700);

@import url(https://fonts.googleapis.com/css?family=Lato:,regular,700,900);

@import url(https://fonts.googleapis.com/css?family=Catamaran:100,200,300,regular,500,600,700,800,900);

.about {

    /* background-color: black; */
    z-index: 3001;
    font-weight: 900;
    position: relative;
    pointer-events: none;
}

.name {
    font-family: sans-serif;
    font-weight: 900;
}

.title {
    font-family: Catamaran, Russon One, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.description {
    font-family: Russon One, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.about button {
    font-family: lato, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    pointer-events: all;
}