* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  /* background: black; */
}

.App {
  height: 100vh;
  width: 100%;

}

.motion {
  height: 100vh;
  width: 100%;
}


Canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(45deg, rgb(250, 152, 76), rgb(255, 245, 123, 1)); */
  background-color: black;
}