@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Html Container */

.container-skatepark {
    position: absolute;
    z-Index: 250;
    width: 100%;
    height: 100vh;
    pointer-Events: none;
    top: 7%
}

.wrapper-skatepark {
    text-Align: center;
}


/* Title */
.titleSB {
    font-family: 'Skateboard';
    color: white;
    font-Size: 7rem;
    letter-Spacing: 1rem;
    font-Weight: normal;
}



/* SubTitle */
.subtitleSB {
    font-family: "Ventilla";
    color: white;
    font-Size: 9.5rem;
    margin-Top: 1.3rem;
    font-Weight: normal
}



/* ColorPicker */
.circle-picker {
    justify-content: center;

}

.circle-picker span div {
    /* background-color: white; */
    background-color: none;
    box-shadow: rgba(255, 255, 255, .055) 0px 0px 20px 13px;
    border-radius: 50%
}

.circle-picker span div:hover {
    scale: 1.1;

}

.ColorSelect {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 7px;
    /* text-decoration: #bbbbbb solid underline; */
    /* text-underline-offset: 11px; */
    color: #bbbbbb;
    position: absolute;
    transform: translate(-50%, -50%);
    text-Align: center;
    transition: all .5s ease;
    color: white;
    font-Size: 1.8rem;
    left: 50;
    top: 90;

}

.swiper {
    overflow: visible;
    /* max-width: 500px; */
    /* text-align: center; */
    padding: 10px
}



.color-slider:hover {
    scale: 1.15;
}

.swiper-slide {
    cursor: 'auto',
}



.textureSelect {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 7px;
    text-decoration: #bbbbbb solid underline;
    text-underline-offset: 11px;
    color: #bbbbbb;
    transition: "all .5s ease";
}

.texture {
    /* overflow: hidden */
}

.texture:hover {
    scale: 1.15;
    /* cursor: 'pointer', */
}

/* texture icons */
.checkered {
    background-color: #FFF;
    background-size: 8px 8px;
    background-image: linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(-45deg, #000000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000000 75%), linear-gradient(-45deg, transparent 75%, #000000 75%);
    transform: rotate(45deg);

}

.pokadot {
    /* width: 240px;
    height: 240px; */
    background-color: #fff;
    background-image: radial-gradient(#000 19%, transparent 20%),
        radial-gradient(#000 19%, transparent 20%);
    background-size: 10px 10px;
    /* background-position: 0 0, 30px 30px; */
    /* background-repeat: repeat; */
}

.ghost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Cursor */

.cursor-container {
    height: 5rem;
    color: white;
    position: absolute;
    z-Index: 400;
    font-Size: 8;
    pointer-Events: none;
}

.Cursor {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;

}

/* Slides */

.slide {
    text-align: center;
    height: 320px;
    line-height: 320px;
    background: #364d79;
    overflow: hidden;
}



@media screen and (max-width: 600px) {

    .container-skatepark {
        top: 2.65%;
        position: fixed;
    }

    .wrapper-skatepark {
        text-Align: left;
    }

    .titleSB {
        font-Size: 3rem;
        letter-Spacing: .6rem;
        margin-left: 21%;
    }

    .subtitleSB {
        font-size: 7.5rem;
        position: relative;
        text-align: center;
        margin-Top: 6rem;
        width: 70%;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
        /* background-color: #555 */
        /* margin-left: 3rem; */
        text-decoration: 3px #ddd solid underline;
        text-underline-offset: 4;
    }

    .ColorSelect {
        top: 77%
    }

}

@media screen and (min-width: 700px) {

    .swiper-wrapper {
        justify-content: center;
    }
}