@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* Title */
.titleSB {
    font-family: 'Skateboard';
}

/* SubTitle */
.subtitleSB {
    font-family: "Ventilla"
}

/* ColorPicker */
.circle-picker {
    justify-content: center;

}

.circle-picker span div {
    /* background-color: white; */
    background-color: none;
    box-shadow: rgba(255, 255, 255, .055) 0px 0px 20px 13px;
    border-radius: 50%
}

.circle-picker span div:hover {
    scale: 1.1;

}

.ColorSelect {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 7px;
    text-decoration: #bbbbbb solid underline;
    text-underline-offset: 11px;
    color: #bbbbbb;
}

.textureSelect {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 7px;
    text-decoration: #bbbbbb solid underline;
    text-underline-offset: 11px;
    color: #bbbbbb;
    transition: "all .5s ease";
}

.texture {
    overflow: hidden
}

.texture:hover {
    scale: 1.15;
    cursor: 'pointer',
}

/* texture icons */
.checkered {
    background-color: #FFF;
    background-size: 8px 8px;
    background-image: linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(-45deg, #000000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000000 75%), linear-gradient(-45deg, transparent 75%, #000000 75%);
    transform: rotate(45deg);

}

.pokadot {
    /* width: 240px;
    height: 240px; */
    background-color: #fff;
    background-image: radial-gradient(#000 19%, transparent 20%),
        radial-gradient(#000 19%, transparent 20%);
    background-size: 10px 10px;
    /* background-position: 0 0, 30px 30px; */
    /* background-repeat: repeat; */
}

.ghost {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Cursor */
.Cursor {
    font-family: 'Kanit', sans-serif;
    letter-spacing: 3px;

}